<!DOCTYPE html>
<html>
<head>
	<title>PhotoKio</title>
	<link rel="stylesheet" href="bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<script src="jquery.js"></script>
	<script src="jquery-ui.js"></script>
</head>
<body>

<div class="header">
	<a href='/'>home</a>
	<a href='/prints'>previous prints</a>
</div>

<div class="container">
	<%= yield %>
</div>

<div class="sidebar">
	<ul class="list-group">
	</ul>
</div>
<script>
	$(document).ready(function() {
		$sidebar = $('.sidebar ul');
		var show = function(text) {
			$sidebar.prepend('<li class="list-group-item">'+text+'</li>')
		}
		var ws = new WebSocket('ws://' + window.location.host + '/ws');
		ws.onopen = function() {
			show('Websocket opened!'); 
		};
		ws.onmessage = function(m) { 
		 	show(m.data); 
		};
	});
</script>

</body>
</html>
