<!DOCTYPE html>
<html>
<head>
	<title>PhotoKio</title>
	<link rel="stylesheet" href="/bootstrap.min.css">
	<link rel="stylesheet" href="/style.css">
	<script src="/jquery.js"></script>
	<script src="/jquery-ui.js"></script>
</head>
<body>

<div class="header">
	<a href='/'>home</a>
	<a href='/prints'>previous prints</a>
</div>

<div class="container">
	<%= yield %>
</div>

<div class="sidebar">
	<ul class="list-group">
	</ul>
</div>
<script>
	$(document).ready(function() {
		$sidebar = $('.sidebar ul');
		var show = function(text) {
			$sidebar.prepend('<li class="list-group-item">'+text+'</li>')
		}
		var prepend_photo = function(file) {
			var html = '<li><img data-file="' + file + '" src="/file/' + file + '"></li>';
			$('.container .selectable').prepend(html);
		}

		var ws = new WebSocket('ws://' + window.location.host + '/ws');
		/*ws.onopen = function() {
			show('Websocket opened!'); 
		}; //*/
		ws.onmessage = function(m) { 
			try {
				var data = JSON.parse(m.data);
				console.log("got message:", data);
				if (data.type == 'log') {
					show(data.data);		
				} else if (data.type == 'new-photo') {
					prepend_photo(data.data);
				} else {
					alert('unknown message '+data.type)
				}
			} catch (e) {
				console.log(e);
				
			}
		 	
		};
	});
</script>

</body>
</html>
